<div class="row custom-form">
  <div class="col-md-6">


    Email :- {{email}} <br>
    Name :-  {{ name }} <br>
    First Name :- {{ field_first_name }} <br>
    Last Name :- {{ field_last_name }} <br>
    Roll No :- {{ field_rollno }} <br>
    Age :- {{ field_age }} <br>
    Gender :- {{ field_gender }} <br>
    Date Of Admission :- {{ field_dateofadmission }} <br>
    Interests :- {{ field_interests }} <br>
  

    <a href="/student_registration/update">
        <button> Update Details </button>
        </a>

    



  </div>
</div>